body { background: #fff; }
.page-main { padding-top: 25px; background: #fff; }

.lms-navbar { background: #46261b;  }
.lms-navbar,
.lms-navbar a { color: #fff; }

.lms-navbar ul { list-style-type: none; margin-top: 20px; position: relative; }
.lms-navbar ul li { float: right; }

.navbar-right li.nav-item { float: right; }
ul.navbar { list-style-type: none; margin-top: 20px; }



.about .instructor-image { text-align: center; }

.about ul.social-media { list-style-type: none; padding: 0; }
.about ul.social-media li { float: left; margin-right: 25px; }
.about ul.social-media li img { height: 40px; }

.lms-course {   } 
.lms-course .lms-course-inner { border-radius: 15px; width: 90%; margin: 20px auto; padding-bottom: 10px; }
.lms-course h3 { font-size: 1.3em; }
.lms-course .lms-course-header { padding: 5px; text-align: right;  }
.lms-course .lms-course-header .school { text-align: right; font-size: 0.7em; }

ul.lms-course-links { list-style-type: none; }
ul.lms-course-links li img { height: 40px; margin-right: 10px; margin-bottom: 5px; }
ul.lms-course-links a { height: 40px; font-size: 16pt; font-weight: bold; }

.resources .pushme { margin-left: 25px; }

tr.lms-anchor-link { height: 2px; background: #eee; font-size: 2px; }
tr.lms-anchor-link td { padding: 0; }

.list-of-weeks .date { margin-left: 20px; font-size: 0.8em; }
span.week {  }
span.date { font-size: 0.8em; }

.due-date { font-size: 0.8em; color: #f00; }

.icon-bar { background-color: #fff; margin-top: 4px; display: block; width: 22px; height: 2px; border-radius: 1px;}
.navbar-toggle { background: none; border: none; }

.list-of-weeks .this-week, 
.list-of-weeks .this-week a { background: #ffdd00; border-radius: 15px; }
.week-by-week .this-week td { background: #fffad9; }
.list-of-weeks li { padding-left: 10px; padding-top: 5px; padding-bottom: 5px; }

.course1-background         { background: #a20025; }
.course1-background-light   { background: #ffe3e9; }
.course1-foreground         { color: #ffffff; }
a.course1-link              { color: #a20025; }

.course2-background         { background: #fa6800; }
.course2-background-light   { background: #ffeada; }
.course2-foreground         { color: #ffffff; }
a.course2-link              { color: #fa6800; }

.course3-background         { background: #f0a30a; }
.course3-background-light   { background: #fff1d5; }
.course3-foreground         { color: #ffffff; }
a.course3-link              { color: #f0a30a; }

.course4-background         { background: #60a917; }
.course4-background-light   { background: #e0f5cc; }
.course4-foreground         { color: #ffffff; }
a.course4-link              { color: #60a917; }

.course5-background         { background: #1ba1e2; }
.course5-background-light   { background: #dcedf5; }
.course5-foreground         { color: #ffffff; }
a.course5-link              { color: #1ba1e2; }

.course6-background         { background: #6a00ff; }
.course6-background-light   { background: #e5d9f7; }
.course6-foreground         { color: #ffffff; }
a.course6-link              { color: #6a00ff; }

.course7-background         { background: #ff00e3; }
.course7-background-light   { background: #f7d9f7; }
.course7-foreground         { color: #ffffff; }
a.course7-link              { color: #ff00ca; }

/* micro clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
